.navbar-brand img{
    width: 120px;
    height: 80px;
}

.cover_container img{
    width: 100%;
    height: 80%;

}

.middle_container img{
    width: 100%;
    height: 300px;
}

.footer img{
    width: 100%;
    margin-top: 300px;
    height: auto;
}